* {
    box-sizing: border-box;
    /* border 를 기준으로 */
}


/* html & body 에는 기본적으로 마진패딩이 잡혀있다. */

html,
body {
    margin: 0px;
    padding: 0px;
}

#header-top {
    float: right;
}

#header-center {
    position: relative;
    margin: 0 auto;
    width: 1080px;
}

#header-search h1 {
    width: 200px;
    height: 40px;
    display: inline-block;
    background-image: url(https://s.pstatic.net/static/www/img/uit/2019/sp_search.svg);
    background-position: -4px -12px;
    text-indent: 100%;
    overflow: hidden;
    vertical-align: middle;
    /* h1 만 위치를 조절하고 싶으면 relative 를 이용해라 relative : static 현재 위치 기반으로 움직인다  */
    position: relative;
    top: -4px;
}

#header-search fieldset {
    margin-left: 20px;
    width: 460px;
    height: 46px;
    display: inline-block;
    padding: 12px 0px 12px 10px;
    border: 2px solid #03cf5d;
    box-sizing: border-box;
    vertical-align: middle;
    /* position 이 absolute 가장 가까운 조상이 relative 인 경우 : h1(containing block of fieldset) */
    position: relative;
    /*box size를 content 기준 대신 border 기준으로 바꾸기*/
}

#header-search a {
    text-decoration: none;
}

.blind {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
}

#header-search fieldset input {
    border: none;
    padding: 0;
    outline: none;
    vertical-align: top;
    /* display: inline-block; 알아서 inline-block이 적용돼잇음 */
    width: 405px;
}

#header-search fieldset button {
    width: 46px;
    height: 46px;
    border: none;
    padding: 0;
    background: #03cf5d;
    position: absolute;
    top: -2px;
    right: -2px;
}

#search-image {
    background-image: url(https://s.pstatic.net/static/www/img/uit/2019/sp_search.svg);
    background-position: -4px -60px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    /* margin: 14px; margin 으로 간격을 조절 하던가 & 포지션을 이용해서 조절하던가 하기 ( 두가지 방법 ) */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-10px, -10px);
}

.center-align {
    margin: 0 auto;
    width: 1080px;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

nav li {
    display: inline-block;
}


/*  nav 에서 첫번째 li , 첫번째 span */


/* nav span:first-child 로 공통적인거 묶어준다. */

nav span:first-child {
    height: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    margin-left: 14px;
}

nav li:first-child span:first-child {
    width: 25px;
    background-position: -259px -259px;
    background-image: url(https://s.pstatic.net/static/www/img/uit/2019/sp_nav_v191128.png);
    /* first li 에서만 margin-left 넣고 싶지 않을 때  */
    margin-left: 0;
}

nav li:nth-child(2) span:first-child {
    width: 27px;
    background-position: -37px -259px;
    background-image: url(https://s.pstatic.net/static/www/img/uit/2019/sp_nav_v191128.png);
}

nav li:nth-child(3) span:first-child {
    width: 40px;
    background-position: -182px -156px;
    background-image: url(https://s.pstatic.net/static/www/img/uit/2019/sp_nav_v191128.png);
}

nav li:nth-child(4) span:first-child {
    width: 40px;
    background-position: -126px -130px;
    background-image: url(https://s.pstatic.net/static/www/img/uit/2019/sp_nav_v191128.png);
}

nav li:nth-child(5) span:first-child {
    width: 26px;
    background-position: -294px 0;
    background-image: url(https://s.pstatic.net/static/www/img/uit/2019/sp_nav_v191128.png);
}

nav li:nth-child(6) span:first-child {
    width: 25px;
    background-position: -71px -285px;
    background-image: url(https://s.pstatic.net/static/www/img/uit/2019/sp_nav_v191128.png);
}